<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link href='{% static "css/search.css"%}' rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="style.css" />

    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5KrfTVdXU8zFiOnlFNg763FYvXirAuhU&callback=initMap&libraries=maps,marker&v=beta">
    </script>

    <script>
      function initMap() {
        console.log('Maps JavaScript API loaded.');
      }
    </script>

</head>
<body>
    <p>welcome!</p>
    <!-- <p>{{num_data}}</p> -->
    <h2>Seareh</h2>
    <form action="react" method="post" name="form1" >
        {% csrf_token %}
        <tr>
            <th>搜尋店家名稱</th>
                <td><input type="text" id="ShopName" name="ShopName"></td>
                <td><input type="submit" value="送出" onclick="location.href='search/react'"/></td>
        </tr>
    </form>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5KrfTVdXU8zFiOnlFNg763FYvXirAuhU&libraries=places&callback=initMap"></script>
</body>
</html>