/*----------grouping----------*/
.chart-heading {
    font-family: "Rubik", sans-serif;
    color: #023047;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    position: relative;
  }
  
  .chart-container {
    width: 200px;
  }
  
  .programming-stats {
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    width: fit-content;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 8px 32px;
    color: #023047;
    transition: all 400ms ease;
  }
  
  .programming-stats:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
  }
  
  .programming-stats .details ul {
    list-style: none;
    padding: 0;
  }
  
  .programming-stats .details ul li {
    font-size: 16px;
    margin: 12px 0;
    text-transform: uppercase;
  }
  
  .programming-stats .details .percentage {
    font-weight: 700;
    color: #e63946;
  }
  a.result {
    margin-top: 10px;
    margin-left: 40%;
    border-radius: 5px;
    background-color:  #4e4d4c;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a.reply{
    border-radius: 5px;
    background-color:  #4e4d4c;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a.index {
    border-radius: 5px;
    background-color:  #4e4d4c;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  /*----------index畫面button----------*/ 

.dropbtn {
  background-color: #48428a;
  border-radius: 5px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
    top: 0px;
    display: inline-block;
    }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #8c80ad;
}
