<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>正負面百分比及關鍵字</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/grouping.css" />
</head>

<body>
  <div class="dropdown">
    <button class="dropbtn">畫面</button>
    <div class="dropdown-content">
      <a href="index.html">搜尋畫面</a>
      <a href="result.html">有效評論占比</a>
      <a href="grouping.html">正負面百分比及關鍵字</a>
      <a href="login.html">登入</a>
      <!-- <a href="register.html">註冊帳號</a>-->
      <a href="reply.html">回饋意見</a>
    </div>
  </div>

  <h2 class="chart-heading">正負面百分比及關鍵字</h2>
  <div class="programming-stats">
    <div class="chart-container">
      <canvas class="my-chart"></canvas>
    </div>
    <div class="details">
      <ul>
      </ul>
    </div>
  </div>
  <a class="result" href="result.html" target="_blank">返回</a>
  <a class="reply" href="reply.html" target="_blank">回饋</a>
  <a class="index" href="index.html" target="_blank">回主頁</a>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="js/grouping.js"></script>
</body>

</html>