<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>回饋表單</title>
    <link href="css/reply.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">畫面</button>
        <div class="dropdown-content">
            <a href="index.html">搜尋畫面</a>
            <a href="result.html">有效評論占比</a>
            <a href="grouping.html">正負面百分比及關鍵字</a>
            <a href="login.html">登入</a>
            <!-- <a href="register.html">註冊帳號</a>-->
            <a href="reply.html">回饋意見</a>
        </div>
      </div>
      <h1>回饋表單</h1>

      <form action="submit_feedback.php" method="POST">
        <div class="form-group">
          <label for="name">姓名：</label>
          <input type="text" id="name" name="name" required>
        </div>
    
        <div class="form-group">
          <label for="email">電子郵件：</label>
          <input type="email" id="email" name="email" required>
        </div>
    
        <div class="form-group">
          <label for="feedback">回饋內容：</label>
          <textarea id="feedback" name="feedback" rows="5" required></textarea>
        </div>
    
        <button type="submit">提交回饋</button>
      </form>
</body>
</html>