body {
    font-family: 'Arial', sans-serif;
    margin: 20px; 
    background-color: #d9e2ec;
}

h1{
    text-align: center;
    display: block;
    margin: 0;
    padding: 20px 0 0 0 ;
}

ul{
    list-style: none;
    display: block;
      margin: 0;
      padding: 0;
      text-align: right;
      font-size: small;  
      
}

li {
    padding: 10px;
    cursor: pointer;
    display: inline-block;/* 將列表項目變成行內元素，使其水平排列 */
}

li:hover {
    background-color: #000000; 
    color:#ffffff;
}


/* 我是分隔線-------------------------表格內容------------------------------------------------------------- */

table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
    border-radius: 20px; /* 將表格四角的半徑 */
    overflow: hidden; /* 確保邊緣半徑不會被內容超出 */
    box-shadow: 0 0 0 2px rgb(109, 104, 132); /* 添加 3px 的框線陰影，顏色可以根據需要調整 */
    background-color: #fff; /* 表格的背景顏色 */
    color: #000000; /* 表格內容的文字顏色 */
}

th, td {
    border: 3px solid rgb(0, 0, 0) 6, 116;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

th:nth-child(3),th:nth-child(4) {
    text-align: center;
}

tr:hover {
    background-color: #f5f5f5;
}

td form {
    display: inline;
    margin: 0;
}

button {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #c82333;
}

.no-favorites {
    font-style: italic;
    color: #888888;
}

.centerbutton{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

