<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>店家搜尋</title>
    <meta charset="UTF-8"> <!-- 設定字符編碼為 UTF-8 -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5KrfTVdXU8zFiOnlFNg763FYvXirAuhU&libraries=places"></script>
    <link rel="icon" type="image/x-icon" href="static/img/logo.png" />
    <link href="../static/css/styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            {% comment %} <a class="navbar-brand" href="index.html">有評有G</a> {% endcomment %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" onclick="window.location.href='/'">回首頁</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" onclick="window.location.href='/login'">登入</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" onclick="window.location.href='/'">收藏店家</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" onclick="window.location.href='/login'">用戶回饋</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2>店家搜尋</h2>
                    <input type="text" id="searchInput" placeholder="輸入店家名稱">
                    <button onclick="searchPlaces()">搜尋</button>
                    <div class="post-heading">
                        <div id="map" style="height: 360px ;"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% comment %} <h1>店家搜尋</h1>
    <input type="text" id="searchInput" placeholder="輸入店家名稱">
    <button onclick="searchPlaces()">搜尋</button>
    <div id="map" style="height: 400px;"></div> {% endcomment %}

    <div id="results">
        <div id="placeInfo"></div> <!-- 顯示店家信息的區域 -->
        <h2>搜索結果</h2>
        <ul id="placesList"></ul>
    </div>
    
    {% comment %} <h1>測試Database</h1>
    <ul>
        {% for item in response_data %}
            <li>username: {{ item.username }}</li>
            <li>msgtime: {{ item.msgtime }}</li>
            <li>star: {{ item.star }}</li>
            <li>comment: {{ item.comment }}</li>
            <li>effflag: {{ item.effflag }}</li>
        {% endfor %}
    </ul> {% endcomment %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'js/visitor.js' %}"></script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5KrfTVdXU8zFiOnlFNg763FYvXirAuhU&libraries=places&callback=initMap"></script>
    <script src="{% static 'js/visitor.js' %}"></script>
</body>
<script src="../static/js/text.js"></script>
</html>
