/* ----------login---------- */
*{
    font-family:微軟正黑體;  
    }
    
    #username, #password, h3, #fullname, #comfirm_password,#username2, #password2{
    width: 200px;
    height: 20px;
    margin: 10px;
    color: #4e4d4c;
    }
    
    h5{
    margin: 20px;
    color: #a3a2a3;
    }
    
    h5:hover{
    color: black;
    }
    
    #container1, #container2{
    margin: 50px; 
    padding: 10px;
    width: 230px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    border-top: 10px solid #4e4d4c;
    box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
    
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 50px;
    text-align:center;  
    }
    
    .system_name{
    /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 40px;
    text-align:center; 
    }
    
    .submit{
    color: white;  
    background: #4e4d4c;
    width: 200px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    }
    
    .submit:hover{
    background: #4e4d4c;
    }
    
    #container2{
    visibility: hidden;   /*剛開始消失*/
    height: 350px;
    }
    
    
    #copyright{
    text-align: center;
    color: #a3a2a3;
    margin: -200px 0px 0px 0px;
    font-size: 14px;
    }
    
    input{
    padding: 5px;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 5px;
    }
    /*----------index畫面button----------*/ 

    .dropbtn {
        background-color: #48428a;
        border-radius: 5px;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      .dropdown {
        top: 0px;
        display: inline-block;
        }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background-color: #8c80ad;
      }
      
