<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>店家搜尋</title>
    <meta charset="UTF-8"> <!-- 設定字符編碼為 UTF-8 -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5KrfTVdXU8zFiOnlFNg763FYvXirAuhU&libraries=places"></script>
</head>
<body>
    <header class="masthead">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2>店家搜尋</h2>
                    <input type="text" id="searchInput" placeholder="輸入店家名稱" value="{{ searchvalue }}">
                        
                    <button id= "searchButton" onclick="searchPlaces()">搜尋</button>
                     <script>
                        window.onload = function() {
                            
                                // 获取 searchInput 的值
                                var searchInputValue = document.getElementById('searchInput').value.trim();
                                
                                // 检查 searchInput 是否有值
                                if (searchInputValue !== '') {
                                    // 如果有值，自动执行 searchPlaces 函数
                                    searchPlaces(searchInputValue);
                                }
                            };
                        
                     </script>   
           
                    <div class="post-heading">
                        <div id="map" style="height: 360px ;"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div id="photoContainer">
        <img id="placePhoto" src="/static/img/backup/{{place_id}}" alt="店家照片">
        
    </div>
    <div id="results">
        <div id="placeInfo"></div> <!-- 顯示店家信息的區域 -->
        <h2>搜索結果</h2>
        <ul id="placesList"></ul>
    </div>
   {% csrf_token %}
    <h1>測試Database</h1>
    <ul>
        {% for item in response_data %}
            <li>username: {{ item.username }}</li>
            <li>msgtime: {{ item.msgtime }}</li>
            <li>star: {{ item.star }}</li>
            <li>comment: {{ item.comment }}</li>
            <li>effflag: {{ item.effflag }}</li>
        {% endfor %}
    </ul>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    

     
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5KrfTVdXU8zFiOnlFNg763FYvXirAuhU&libraries=places&callback=initMap"></script>
   
</body>
<script src="../static/js/member.js"></script>
<script src="../static/js/search.js"></script>

</html>
