<!DOCTYPE html>
<html>
<head>
    <title>搜尋記錄 </title>
    <meta charset="UTF-8"> <!-- 設定字符編碼為 UTF-8 -->
    <link href="../static/css/searchhistory.css" rel="stylesheet" />
</head>
<body>
    <h1>歷史搜尋記錄</h1>
    <ul>
        <li><a onclick="window.location.href='/member'">回到搜尋</a></li>
    </ul>


    <table border="1" id="myList">
        <thead>
            <tr>
                <th>搜尋紀錄</th>
                <th>刪除紀錄</th>
            </tr>
        </thead>
        <tbody>
            <!-- 這裡的內容將由 JavaScript 動態生成 -->
        </tbody>
    </table>
    
</body>


<script src="../static/js/search.js"></script>

</html>