<!DOCTYPE html>
<html>
  <head>
      <title>收藏 </title>
      <meta charset="UTF-8"> <!-- 設定字符編碼為 UTF-8 -->
      <link href="../static/css/favorite.css" rel="stylesheet" />
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
  </head>
  <body>
        <h1>您的收藏</h1>
        <ul>
            <li><a onclick="window.location.href='/'">回首頁</a></li>
            <li><a onclick="window.location.href='/visitor'">回到搜尋</a></li>
        </ul>
    


      <table border="1">
          <tr>
                <th>店家名稱</th>
                <th>店家地址</th>
                <div class = "centerbutton">
                <th>店家搜尋</th>
                <th>取消收藏</th>
                </div>  
          </tr>
          {% for favorite in show_favorite_locations %}
              <tr>
                <td>{{ favorite.placename }}</td>
                    
                <td>{{ favorite.placeaddress }}</td>


                  
                <td>
                    <form method="POST" action="{% url 'show_favorite_locations' %}" id="searchForm">
                    {% csrf_token %}
                    <div class = "centerbutton">
                    <!-- 在按鈕上添加 onclick 事件 -->
                        <button type="submit" name = "searchForm" value="{{ favorite.placename }}"> 搜尋 </button>
                    </div>
                    </form>
                </td>

                <td>
                    <form method="post" action="{% url 'unfavorite_location' favorite.id %}">
                    {% csrf_token %}
                    <div class = "centerbutton">
                        <button type="submit">取消收藏</button>
                    </div>
                    </form>
                </td>
                    
            </tr>
          {% empty %}
              <tr>
                  <td colspan="3" class="no-favorites">您還沒有收藏</td>
              </tr>
          {% endfor %}
      </table>
  </body>
  </html>
  

  <script src="../static/js/favorite.js"></script>
</html>
