<!DOCTYPE html>
<html>
<head>
    <title>回饋表 </title>
    <meta charset="UTF-8"> <!-- 設定字符編碼為 UTF-8 -->
    <link href="../static/css/feadback.css" rel="stylesheet" />
</head>
<body>
    <div id="title">
      <h1>有評有G 智能評論偵測器</h1>
        <p id="description">Thank you for visit my website,give me feadback for improve the service</p>
    </div>
    <form id="survey-form" method="post" action="{% url 'feadback' %}">
      {% csrf_token %}
      <label>名字:</label><br>
      <input type="text" id="name" name="name" required><br><br>
      <label>Email:</label><br>
      <input type="email" id="email" name="email" required><br><br>
      <label>您的回饋:</label><br>
      <textarea name="feadback" id="feadback" cols="20" rows="5" required></textarea><br><br>
      <label>建議或改進的地方:</label><br>
      <textarea name="recommend" id="feadback" cols="20" rows="5" required></textarea><br><br>
      <br><br> 
      {% comment %} <div class="form-group">
        <label for="recommend">Would you recommend this article for a friend?</label><br>
      <input class="recommend" type="radio" value="definitly" name="definitly" class="input-radio">Definitly<br>
      <input type="radio" value="definitly" name="definitly" class="input-radio">Maybe<br>
      <input type="radio" value="definitly" name="definitly" class="input-radio">Not Sure<br><br>
      </div> {% endcomment %}
      <p id="description">非常感謝您的回饋</p>
      <input type="submit" value="提交">
    </form>
</body>
  