<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link href="../static/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <h2>註冊</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <input type="email" placeholder="帳號E-mail" name="email" required>
            <input type="text" placeholder="使用者名稱" name="username" required>
            <input type="password" id="passwordInput" oninput="password_validation()" placeholder="密碼" name="passwd" required>
            <input type="password" id="passwordInput1" oninput="password_validation()" placeholder="確認密碼" name="passwd1" required>
            <input type="submit" value="註冊">
        </form>
    </div>

    <script>
        // Your password validation logic goes here
        function password_validation() {
            // Implement your password validation logic here if needed
        }
    </script>
</body>
</html>
