<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜尋畫面</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="wrap">
        <div class="search">
        <input class="search-bar" type="text" name="search" id="search" placeholder="輸入Google Maps網址">
        <button class="search-btn" ><i class="fas fa-search"><a href="result.html">Search</a></i></button>
    </div>
    <div class="dropdown">
        <button class="dropbtn">畫面</button>
        <div class="dropdown-content">
            <a href="result.html">有效評論占比</a>
            <a href="grouping.html">正負面百分比及關鍵字</a>
            <a href="login.html">登入</a>
            <a href="register.html">註冊帳號</a>
            <a href="reply.html">回饋意見</a>
        </div>
      </div>
</body>
</html>


</body>
</html>
